.venv
./output/myd*
./idea/*
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/myd-py-analysis.iml
/output/myd_item.csv
/output/myd_order.csv
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/output/shopping_item.csv
/output/shopping_order.csv
/output/shopping_section1.csv
/output/shopping_section2.csv
/.idea/vcs.xml

__pycache__
